*{
    padding: 0;
    margin: 0;
}
body{
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    margin-bottom:5vw;
}
.filmstrip{
    width: 100%;
    position: absolute;
}
.posters{
    position: absolute;
    top: 1.84vw;
    width: 10.68vw;
    height: 7.775vw;
    border-radius: 0.4vw;
}
.poster_light{
    opacity: 0.3;
}
.poster_light:hover{
    opacity: 0.6;
}
.poster1{
    left: 3.05%;
}
.poster2{
    left: 14.95%;
}
.poster3{
    left: 26.8%;
}
.poster4{
    left: 38.65%;
}
.poster5{
    left: 50.45%;
}
.poster6{
    left: 62.35%;
}
.poster7{
    left: 74.2%;
}
.poster8{
    left: 86.05%;
}
.product_items{
    margin-top: 3vw;
}
.product_item{
    float: left;
    width: 11%;
    margin-bottom:3vw;
    height: 13vw;
}
.product_image{
    position: absolute;
    margin-left: 1.5vw;
    height:12vw;
    width: 8vw;
    border-radius: 0.3vw;
}

.product_item p{
    margin-top: 12.5vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: 'Times New Roman','comic sans';
    font-size: 1.1vw;
}

a{
    text-decoration:none;
}

.container{
    padding-top: 15vw;
}
.item_logo_1,
.item_logo_2,
.item_logo_3,
.item_logo_4{
    position: absolute;
    margin-top: 12vw;
    font-family: 'Times New Roman','comic sans';
    font-size: 1.7vw;
    height: 2vw;
    width: 8vw;
    text-align: center;
    vertical-align: middle;
}
.item_logo_1{
    text-align: left;
    margin-left: 2vw;
    border-left: none;
}
.item_logo_2{
    margin-left: 10vw;
}
.item_logo_3{
    margin-left: 18vw;
}
.item_logo_4{
    margin-left: 26vw;
}
.genres{
    text-align-last:center;
    position: absolute;
    float: right;
    margin-left: 2vw;
    padding-bottom: 0.25vw;
    width: 10vw;
    color: #4e4e4e;
    text-shadow: 0.05vw 0.05vw 0.3vw #4e4e4e;
    background-color: transparent;
    border: none;
    cursor: grab ;
    font-size: 1.3vw;

}

.genres:focus{
    outline: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

select {
    cursor: pointer;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.search-product{
    padding-left: 1vw;
    border: 0.1vw solid #4e4e4e;
    border-radius: 0.3vw;
    position: absolute;
    top: 12vw;
    width: 15vw;
    font-size: 1.5vw;
    color:#4e4e4e;
    height: 2vw;
    right: 4%;
}

.search-result{
    list-style:none;
    color: #4e4e4e;
    font-size: 1.5vw;
    background-color: white;
    position: absolute;

    top: 14.4vw;
    width: 16vw;
    right: 4%;
}
.search-result a li,
.search-result a{
    margin: 0;
    padding: 0;
    color: #4e4e4e;
    text-decoration: none;
}

.search-result a li {
    overflow: hidden;
}
.search-result a li .search-year{
    width: 25%;
    text-align: right;
    float: right;
}
.search-result a li .search-title{
    width: 75%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.search-result a li:hover{
    background-color: #1e90ff;
    color: white;
}

.search-result:empty{
    border: none;
}


