.product_image {
    box-shadow:0vw 0vw 1vw #4e4e4e;
}
.product_item p{
    color: #4e4e4e;
        text-shadow: 0.05vw 0.05vw 0.3vw #4e4e4e;
}
.item_logo_1,
.item_logo_2,
.item_logo_3,
.item_logo_4{
    color: #4e4e4e;
    text-shadow: 0.05vw 0.05vw 0.3vw #4e4e4e;
    border-left:0.1vw solid #4e4e4e;
}
.item_logo_1{
    border-left:none;
}
.item_logo_1:hover,
.item_logo_2:hover,
.item_logo_3:hover,
.item_logo_4:hover{
    color: #CED3E6;
    text-shadow: 0.05vw 0.05vw 0.3vw #CED3E6;
}
.genres{
    border-bottom:0.05vw solid #4e4e4e;
}
.genres:hover{
    color: #CED3E6;
    text-shadow: 0.05vw 0.05vw 0.3vw #CED3E6;
    border-bottom:0.05vw solid #CED3E6;
}
.genres option{
    color:#4e4e4e;
}