.pagination{
    clear: both;
    float: left;
    display: inline-block;
}

.pagination .page-item {
    float: left;
}

.pagination .page-item a{
    color: #4e4e4e;
    text-shadow: 0.05vw 0.05vw 0.3vw #4e4e4e;
    padding: 0.5vw 1vw;
    text-decoration: none;
    font-size: 1.3vw;
}

.pagination .page-item span{
    color: #b8bfbf;
    text-shadow: 0.05vw 0.05vw 0.3vw #b8bfbf;
    padding: 0.5vw 1vw;
    text-decoration: none;
    font-size: 1.3vw;
}

.pagination .page-item a:hover{
    color: #CED3E6;
    text-shadow: 0.05vw 0.05vw 0.3vw #CED3E6;
}