.product_name,
.product_image,
.product_year,
.product_description,
.product_country,
.product_genre{
    float: left;
}

.product_name,
.product_year,
.product_description,
.product_country,
.product_genre{
    margin:0.5vw;
    width: 15%;
    color: #5C5C5C;
    text-shadow: 0.05vw 0.05vw 0.3vw #5C5C5C;
    font-family: 'Times New Roman','comic sans';
    font-size: 1.7vw;
    margin-top: 2vw;
    margin-left: 6vw;
}
.product_name{
    margin-top: 2vw;
}
.product_image{
    margin-left: 5vw;
    margin-top: 2vw;
    width: 24vw;
    height: 36vw;
    position: static;
}
.product_name1,
.product_year1,
.product_country1,
.product_genre1{
    margin:0.5vw;
    color: #6F6F6F;
    text-shadow: 0.01vw 0.01vw 0.1vw #6F6F6F;
    font-family: 'Times New Roman','comic sans';
    font-size: 1.7vw;
    margin-top: 2vw;
    margin-left: 1vw;
    width: 40%;
    float: left;
    text-align: left;
}

.product_description1{
    margin:0.5vw;
    color: #6F6F6F;
    text-shadow: 0.01vw 0.01vw 0.1vw #6F6F6F;
    font-family: 'Times New Roman','comic sans';
    font-size: 1.4vw;
    margin-top: 5vw;
    margin-left: 1vw;
    width: 40%;
    float: left;
    text-align: left;
}
.product_description{
    margin-top: 5vw;
}
.product_video{
    text-align: center;
    clear: both;
    float: left;
    margin-left: 16%;
    margin-bottom:5vw;
    width: 70%;
    height: 35vw;
    background-color: black !important;
}
.watch_online{
    margin-top: 2vw;
    margin-bottom: 1vw;
    text-align: center;
    width: 100%;
    clear: both;
    float: left;
    color: #6F6F6F;
    text-shadow: 0.01vw 0.01vw 0.1vw #6F6F6F;
    font-family: 'Times New Roman','comic sans';
    font-size: 1.4vw;
}
.trailer{
    width: 60%;
    height: 35vw;
    margin-left: 20%;
}